<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_filesystem-vc120" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_program_options-vc120" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_system-vc120" version="1.55.0.16" targetFramework="Native" />
  <package id="freeglut" version="2.8.1.15" targetFramework="Native" />
  <package id="freeglut.redist" version="2.8.1.15" targetFramework="Native" />
  <package id="glew" version="1.9.0.1" targetFramework="Native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="Native" />
  <package id="glm" version="0.9.5.2" targetFramework="Native" />
  <package id="LodePNG" version="1.0.0" targetFramework="Native" />
</packages>